In [ ]:
#esercizio_1 
#Dal database AdventureWorks estraiamo la tabella dimproduct
#Sulla colonna DealerPrice, utilizzando il metodo .round(), 
#arrotondiamo i valori alle due cifre decimali, 
#e poi al valore intero più vicino
#Utilizzando il metodo .clip(), 
#facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

In [33]:
import pandas as pd
import numpy as np
import sqlalchemy
import dotenv
import os

In [ ]:
dotenv.load_dotenv(override=True, dotenv_path="C:/Users/Marco/Desktop/Epicode/Python/.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname

db_engine = sqlalchemy.create_engine(connection_string)

query = "SELECT * FROM dimproduct"
DF=pd.read_sql(query, db_engine)

In [ ]:
DF["DealerPrice"].round(2)

In [ ]:
DF["DealerPrice"].clip(lower=0, upper =1000)

In [ ]:
#esercizio_2
#Creiamo un DataFrame sintetico, 
#che contiene i guadagni mensili di diverse annate, con il seguente codice: 
#years = 5 
#a = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), 
#"Anno": np.repeat(list(range(years)), 12), 
#"Guadagni": np.random.randint(800, 5000, 12*years)}) 
#Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum() 
#Come sopra, ma raggruppato per ogni anno usando prima un .groupby()

In [49]:
years=5
a = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), 
                  "Anno": np.repeat(list(range(years)), 12), 
                  "Guadagni": np.random.randint(800, 5000, 12*years)})

In [93]:
a["VenditeCumulative"]=a["Guadagni"].cumsum()

In [ ]:
a.groupby("Anno")["Guadagni"].sum()

In [98]:
#esercizio_3
#Dal database AdventureWorks estraiamo la tabella dimcustomer
#Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, 
#e i cognomi in modo che abbiano solo lettere maiuscole 
#Sulla colonna EmailAddress, utilizzando il metodo .str.split(), 
#estraiamo nome utente e dominio 
#Sulla colonna Phone, estraiamo ogni parte del numero 
#(ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
#Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

In [112]:
df=pd.read_sql("SELECT * FROM dimcustomer",db_engine)

In [134]:
df["Phone"]

0        1 (11) 500 555-0162
1        1 (11) 500 555-0110
2        1 (11) 500 555-0184
3        1 (11) 500 555-0162
4        1 (11) 500 555-0131
                ...
18479    1 (11) 500 555-0136
18480    1 (11) 500 555-0146
18481    1 (11) 500 555-0144
18482    1 (11) 500 555-0137
18483    1 (11) 500 555-0141
Name: Phone, Length: 18484, dtype: object

In [ ]:
df.FirstName.str.lower()
df.LastName.str.upper()
df.EmailAddress.str.split("@")
df.Phone.str.split(" ")
df.loc[df.EmailAddress.str.contains("21")]

In [ ]:
#esercizio_4
#Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10" 
#Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi e i dieci più corti 
#Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace() 
#Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

In [ ]:
df.loc[df.EmailAddress.str.contains("20|10")]
df.EmailAddress.str.replace("adventure-works.com","aw-db.com")
df.loc[df.AddressLine1.str.contains("Street")]

In [ ]:
df.EmailAddress.sort_values()[:10]

In [ ]:
df.EmailAddress.sort_values()[-10:]

In [ ]:
df['EmailAddress'].str.len()

In [ ]:
df.loc[sorted(df.EmailAddress.str.len())]

In [ ]:
#esercizio_5
#Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, 
#che contiene dei post con data di pubblicazione, tipo (foto, video, …) e numero di reactions raccolte: 
#Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp 
#Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, 
#ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, 
#il mese, il giorno della settimana, il giorno dell'anno, eccetera

In [353]:
fb=pd.read_csv("C:/Users/Marco/Desktop/Epicode/Python/datasets/datasets/beginner_datasets/facebook.csv", encoding="latin1", sep=",")

In [361]:
DT=pd.to_datetime(fb["status_published"])

In [ ]:
DT.dt.year

In [ ]:
DT.dt.month

In [ ]:
DT.dt.day

In [ ]:
DT.dt.dayofweek

In [ ]:
DT.dt.dayofyear

In [ ]:
#esercizio_6
#Estraiamo solo i post relativi al 2012 
#Estraiamo solo i post relativi a maggio 2018 
#Confrontiamo il numero di post pubblicati nei weekend 
#rispetto al numero di post pubblicati nel resto della settimana 
#Troviamo il primo e ultimo post pubblicati in ogni anno 
#Quanti tipi di post ci sono? E quanti per ogni tipo?

In [ ]:
fb.loc[fb.status_published.str.contains("2012")]

In [ ]:
fb.loc[fb.status_published.str.contains("5/../2018")]

In [ ]:
post_weekdays_flt = fb['status_published'].dt.dayofweek < 5
post_weekend_flt = fb['status_published'].dt.dayofweek >= 5

print('numero di post nel weekend: ', fb[ post_weekend_flt ].shape[0])
print('numero di post negli altri giorni: ', fb[ post_weekdays_flt ].shape[0])

In [ ]:
post_anno = fb['status_published'].dt.year

for anno in post_anno.unique():
    fb_df_anno = fb.groupby(post_anno).get_group(anno).sort_values('status_published')
    print(anno)
    display('Primo post per ogni anno:', fb_df_anno.head(1))
    display('Ultimo post per ogni anno:', fb_df_anno.tail(1))

In [ ]:
print('Tipi di post:', fb['status_type'].unique(), '\tnum:', fb['status_type'].nunique())
print(fb.groupby('status_type').status_type.count())

In [ ]:
#esercizio_8
#Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv:
#Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset 
#e contiamo quanti valori nulli ci sono in ogni colonna 
#Ci sono valori nulli? 
#Se sì, avrebbe senso cercare di riempirli?
#Eliminiamo le righe che contengono valori nulli

In [ ]:
pokemon_df = pd.read_csv(parent_folder + 'datasets/beginner_datasets/pokemon.csv')

pokemon_df

In [ ]:
pokemon_df.isnull().sum()

In [ ]:
pokemon_df[ pokemon_df[ 'Type 2' ].isnull() ][ 'Type 2' ].replace(np.nan, '-')

In [ ]:
#Esercizio_9
#Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv:
#Ci sono valori nulli? Dove? Quanti?
#Quali righe hanno un valore nullo nella colonna num-of-doors?
#Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

In [35]:
cars=pd.read_csv("C:/Users/Marco/Desktop/Epicode/Python/datasets/datasets/beginner_datasets/automobile.csv")

In [ ]:
cars.isna().sum()

In [ ]:
cars.loc[cars["num-of-doors"].isnull()]

In [114]:
print("tenendo conto che le marche di auto senza numero di porte sono dodge e mazda,probabilmente il valore null è frutto di un mancato inserimento dei dati. possiamo quindi sostituirlo con il valore minimo di porte -in questo caso 2- per non dover eliminare 2 righe di dati")
cars["num-of-doors"]=cars["num-of-doors"].replace(np.nan,"2")

tenendo conto che le marche di auto senza numero di porte sono dodge e mazda,probabilmente il valore null è frutto di un mancato inserimento dei dati. possiamo quindi sostituirlo con il valore minimo di porte -in questo caso 2- per non dover eliminare 2 righe di dati

In [122]:
#esercizio_10
#Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera:

#import numpy as np, pandas as pd
#temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
#"Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})
#Il sensore a volte non funziona, dunque alcuni dati sono mancanti: 
#quale sarebbe la migliore strategia per gestirli?

In [126]:
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

In [142]:
print("la cosa migliore è fare un interpolate, mantenendo così il più possibile integro la qualità del dataframe")
temp["Temperature"].interpolate()

la cosa migliore è fare un interpolate, mantenendo così il più possibile integro la qualità del dataframe

0     18.0
1     19.0
2     18.0
3     19.5
4     21.0
5     20.0
6     20.0
7     20.5
8     21.0
9     23.0
10    23.0
11    23.0
12    24.0
Name: Temperature, dtype: float64

In [ ]:
#esercizio_11
#Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno di una directory; 
#senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path per esaminare una directory specifica, 
#ad esempio os.listdir("mio_progetto/beginner_datasets/")
#Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli?

In [164]:
DS_path=("C:/Users/Marco/Desktop/Epicode/Python/datasets/datasets/beginner_datasets/")

for dataset in os.listdir(DS_path):
    df = pd.read_csv(DS_path + dataset)
    print(f"Dataset Name: {dataset}\t", "dati nulli:", df.isnull().sum().sum())

Dataset Name: amazon.csv	 dati nulli: 0
Dataset Name: anomaly.csv	 dati nulli: 0
Dataset Name: asia_gdp.csv	 dati nulli: 0
Dataset Name: automobile.csv	 dati nulli: 39
Dataset Name: bank.csv	 dati nulli: 0
Dataset Name: bike.csv	 dati nulli: 0
Dataset Name: blood.csv	 dati nulli: 0
Dataset Name: boston.csv	 dati nulli: 0
Dataset Name: cancer.csv	 dati nulli: 0
Dataset Name: concrete.csv	 dati nulli: 0
Dataset Name: credit.csv	 dati nulli: 0
Dataset Name: desktop.ini	 dati nulli: 0
Dataset Name: diabetes.csv	 dati nulli: 0
Dataset Name: diamond.csv	 dati nulli: 0
Dataset Name: elections.csv	 dati nulli: 52
Dataset Name: electrical_grid.csv	 dati nulli: 0
Dataset Name: employee.csv	 dati nulli: 0
Dataset Name: energy.csv	 dati nulli: 0
Dataset Name: facebook.csv	 dati nulli: 0
Dataset Name: forest.csv	 dati nulli: 0
Dataset Name: france.csv	 dati nulli: 66
Dataset Name: germany.csv	 dati nulli: 0
Dataset Name: glass.csv	 dati nulli: 0
Dataset Name: gold.csv	 dati nulli: 0
Dataset Name: heart.csv	 dati nulli: 0
Dataset Name: heart_disease.csv	 dati nulli: 0
Dataset Name: hepatitis.csv	 dati nulli: 153
Dataset Name: house.csv	 dati nulli: 7829
Dataset Name: income.csv	 dati nulli: 4262
Dataset Name: insurance.csv	 dati nulli: 0
Dataset Name: ipl.csv	 dati nulli: 0
Dataset Name: iris.csv	 dati nulli: 0
Dataset Name: jewellery.csv	 dati nulli: 0
Dataset Name: juice.csv	 dati nulli: 0
Dataset Name: kiva.csv	 dati nulli: 0
Dataset Name: mice.csv	 dati nulli: 1396
Dataset Name: migration.csv	 dati nulli: 0
Dataset Name: nba.csv	 dati nulli: 11
Dataset Name: parkinsons.csv	 dati nulli: 0
Dataset Name: pokemon.csv	 dati nulli: 386
Dataset Name: poker.csv	 dati nulli: 0
Dataset Name: population.csv	 dati nulli: 12
Dataset Name: public_health.csv	 dati nulli: 0
Dataset Name: pycaret_datasets.csv	 dati nulli: 0
Dataset Name: questions.csv	 dati nulli: 0
Dataset Name: satellite.csv	 dati nulli: 0
Dataset Name: seeds.csv	 dati nulli: 4
Dataset Name: spx.csv	 dati nulli: 0
Dataset Name: traffic.csv	 dati nulli: 48143
Dataset Name: tweets.csv	 dati nulli: 0
Dataset Name: wholesale.csv	 dati nulli: 0
Dataset Name: wikipedia.csv	 dati nulli: 68
Dataset Name: wine.csv	 dati nulli: 0

In [ ]:
#esercizio_12
#Dovremo usare un ciclo for per esaminare tutti i nomi dei file
#Dovremo selezionare solo i nomi di file con estensione .csv (quindi usare un costrutto if)
#Nel corpo dovremo leggere di volta in volta il file in esame, e caricarlo in un DataFrame con la funzione .read_csv()
#Sul DataFrame dovremo utilizzare il metodo .isna() per trovare la maschera booleana dei dati nulli
#Dovremo contare i dati nulli, utilizzando .sum(); potremmo doverlo utilizzare più di una volta
#Dovremo stampare, o memorizzare in una list, solo i nomi dei file che contengono dati nulli

In [175]:
DS_path=("C:/Users/Marco/Desktop/Epicode/Python/datasets/datasets/beginner_datasets/")

for dataset in os.listdir(DS_path):
    if df.isnull().sum().sum()>0:
       df = pd.read_csv(DS_path + dataset)
    print(f"Dataset Name: {dataset}\t", "dati nulli:", df.isnull().sum().sum())

Dataset Name: amazon.csv	 dati nulli: 0
Dataset Name: anomaly.csv	 dati nulli: 0
Dataset Name: asia_gdp.csv	 dati nulli: 0
Dataset Name: automobile.csv	 dati nulli: 0
Dataset Name: bank.csv	 dati nulli: 0
Dataset Name: bike.csv	 dati nulli: 0
Dataset Name: blood.csv	 dati nulli: 0
Dataset Name: boston.csv	 dati nulli: 0
Dataset Name: cancer.csv	 dati nulli: 0
Dataset Name: concrete.csv	 dati nulli: 0
Dataset Name: credit.csv	 dati nulli: 0
Dataset Name: desktop.ini	 dati nulli: 0
Dataset Name: diabetes.csv	 dati nulli: 0
Dataset Name: diamond.csv	 dati nulli: 0
Dataset Name: elections.csv	 dati nulli: 0
Dataset Name: electrical_grid.csv	 dati nulli: 0
Dataset Name: employee.csv	 dati nulli: 0
Dataset Name: energy.csv	 dati nulli: 0
Dataset Name: facebook.csv	 dati nulli: 0
Dataset Name: forest.csv	 dati nulli: 0
Dataset Name: france.csv	 dati nulli: 0
Dataset Name: germany.csv	 dati nulli: 0
Dataset Name: glass.csv	 dati nulli: 0
Dataset Name: gold.csv	 dati nulli: 0
Dataset Name: heart.csv	 dati nulli: 0
Dataset Name: heart_disease.csv	 dati nulli: 0
Dataset Name: hepatitis.csv	 dati nulli: 0
Dataset Name: house.csv	 dati nulli: 0
Dataset Name: income.csv	 dati nulli: 0
Dataset Name: insurance.csv	 dati nulli: 0
Dataset Name: ipl.csv	 dati nulli: 0
Dataset Name: iris.csv	 dati nulli: 0
Dataset Name: jewellery.csv	 dati nulli: 0
Dataset Name: juice.csv	 dati nulli: 0
Dataset Name: kiva.csv	 dati nulli: 0
Dataset Name: mice.csv	 dati nulli: 0
Dataset Name: migration.csv	 dati nulli: 0
Dataset Name: nba.csv	 dati nulli: 0
Dataset Name: parkinsons.csv	 dati nulli: 0
Dataset Name: pokemon.csv	 dati nulli: 0
Dataset Name: poker.csv	 dati nulli: 0
Dataset Name: population.csv	 dati nulli: 0
Dataset Name: public_health.csv	 dati nulli: 0
Dataset Name: pycaret_datasets.csv	 dati nulli: 0
Dataset Name: questions.csv	 dati nulli: 0
Dataset Name: satellite.csv	 dati nulli: 0
Dataset Name: seeds.csv	 dati nulli: 0
Dataset Name: spx.csv	 dati nulli: 0
Dataset Name: traffic.csv	 dati nulli: 0
Dataset Name: tweets.csv	 dati nulli: 0
Dataset Name: wholesale.csv	 dati nulli: 0
Dataset Name: wikipedia.csv	 dati nulli: 0
Dataset Name: wine.csv	 dati nulli: 0